/* AgendarCita.css */

/* Asegura que no haya márgenes/paddings globales */
body, html, #root {
  margin: 0;
  padding: 0;
}

/* Contenedor principal del formulario */
.agendar-cita-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;


  /* Elimina espacio superior extra */
  margin-top: 20 !important;
  padding-top: 3rem;
}

/* Título */
.agendar-cita-container h2 {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #2c3e50;
}

.agendar-cita-container form {
  max-width: 1000px; 
  margin: 30px auto;
  padding: 30px; /* Mantén un buen espacio interno */
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}


/* Agrupación de campos */
.form-group-cita {
  display: flex;
  flex-direction: column;
}

/* color letras del label */
.form-group-cita label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group-cita input,
.form-group-cita select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group-cita input:focus,
.form-group-cita select:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}


/* Botón de envío */
.agendar-cita-container button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agendar-cita-container button:hover {
  background-color: #0056b3;
}

.agendar-cita-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Mensaje de error */
.error-message {
  color: #e74c3c;
  background-color: #fcecec;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  text-align: center;
}

/* Mensaje */
.agendar-cita-container p {
  text-align: center;
  font-size: 16px;
  color: #28a745;
  margin-top: 20px;
}


/* Botón de volver */
.go-home-button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.6rem;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-home-button:hover {
  background-color: #27ae60;
}
